.verticalLine {
    outline: none;
    flex: 0 0 .25rem;
    justify-content: stretch;
    transition: background-color .2s linear;
    display: flex;
}
.verticalLine:hover,
.verticalLine[data-resize-handle-active] {
    background-color: var(--chakra-colors-color-palette-solid);
}

.panelWithShadow {
    box-shadow: var(--chakra-shadows-xl);
}

.verticalLineConf {
    outline: none;
    flex: 0 0 .25rem;
    justify-content: stretch;
    transition: background-color .2s linear;
    background-color: var(--chakra-colors-fg-subtle);
    border-radius: 10px;
    display: flex;
}
.verticalLineConf:hover,
.verticalLineConf[data-resize-handle-active] {
    background-color: var(--chakra-colors-color-palette-solid);
}