[role="treeitem"]:has(.node) {
    user-select: none;
    /* border: 2px solid transparent; */
    border-radius: var(--chakra-radii-sm);
}

[role="treeitem"]:has(.node):focus-visible {
    background-color: var(--chakra-colors-bg-emphasized);
    outline: none;
}

[role="treeitem"][aria-selected="true"]:has(.node):focus-visible {
    background-color: var(--chakra-colors-bg-emphasized);
    outline: none;
}

[role="treeitem"]:has(.node):hover {
    background-color: var(--chakra-colors-bg-muted);
}

[role="treeitem"][aria-selected="true"]:has(.node) {
    background-color: var(--chakra-colors-bg-emphasized);
    font-weight: var(--chakra-font-weights-medium);
}

[role="treeitem"]:has(.node:global(.willReceiveDrop)) {
    border: 2px solid var(--chakra-colors-border-inverted);
}

.node {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /* border-bottom: var(--chakra-borders-sm) var(--chakra-colors-border); */
}

.tree:hover .indentLines {
    display: flex;
}

.indentLines {
    --indent-size: 18px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    align-items: flex-start;
    height: 100%;
}

.indentLines > div {
    height: 100%;
    padding-left: 12px;
    border-right: 1px solid var(--chakra-colors-fg-subtle);
    margin-right: calc(var(--indent-size) - 10px - 2px);
}
