[role="treeitem"]:has(.node) {
    user-select: none;
    border-radius: var(--chakra-radii-md);
}

/* фокус */
[role="treeitem"]:has(.node):focus-visible {
    outline: 2px solid var(--chakra-colors-color-palette-focus-ring);
    outline-offset: -2px;
}

/* Выбранныей узел + фокус */
[role="treeitem"][aria-selected="true"]:has(.node):focus-visible {
    background-color: var(--chakra-colors-color-palette-muted);
    outline: 2px solid var(--chakra-colors-color-palette-focus-ring);
    outline-offset: -2px;
}

/* ховер на узле */
[role="treeitem"]:has(.node):hover {
    background-color: var(--chakra-colors-bg-emphasized);
}

[role="treeitem"]:has(.node:global(.highlighted)):hover {
    background-color: var(--chakra-colors-color-palette-emphasized);
}

/* Выбранныей узел + ховер] */
[role="treeitem"][aria-selected="true"]:has(.node):hover {
    background-color: var(--chakra-colors-color-palette-emphasized);
}

/* Выбранные узлы*/
[role="treeitem"][aria-selected="true"]:has(.node) {
    background-color: var(--chakra-colors-color-palette-subtle);
    font-weight: var(--chakra-font-weights-medium);
}

[role="treeitem"][aria-selected="true"]:has(.node:global(.isSelected)) {
    border-radius: 0;
}

[role="treeitem"][aria-selected="true"]:has(.node:global(.isSelectedStart)) {
    border-radius: var(--chakra-radii-md) var(--chakra-radii-md) 0 0;
}

[role="treeitem"][aria-selected="true"]:has(.node:global(.isSelectedEnd)) {
    border-radius: 0 0 var(--chakra-radii-md) var(--chakra-radii-md);
}

[role="treeitem"][aria-selected="true"]:has(
        .node:global(.isSelectedStart.isSelectedEnd.isInternal)
    ) {
    border-radius: var(--chakra-radii-md) var(--chakra-radii-md) 0 0;
}

[role="treeitem"][aria-selected="true"]:has(
        .node:global(.isSelectedEnd.isInternal)
    ) {
    border-radius: 0;
}

[role="treeitem"][aria-selected="true"]:has(
        .node:global(.isSelectedStart.isSelectedEnd)
    ) {
    border-radius: var(--chakra-radii-md);
}

[role="treeitem"]:has(.node:global(.willReceiveDrop)) {
    outline: 2px solid var(--chakra-colors-color-palette-solid);
    outline-offset: -2px;
}

[role="treeitem"]:has(.node:global(.highlighted)) {
    background-color: var(--chakra-colors-color-palette-subtle);
    border-radius: 0;
}

[role="treeitem"]:has(.node:global(.roundBottom)) {
    border-radius: 0 0 var(--chakra-radii-md) var(--chakra-radii-md);
}

.node {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 1rem;
    justify-content: space-between;
}

.tree:hover .indentLines {
    display: flex;
}

.indentLines {
    --indent-size: 16px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    align-items: flex-start;
    height: 100%;
}

.indentLines > div {
    height: 100%;
    padding-left: 10px;
    border-right: 1px solid var(--chakra-colors-fg-subtle);
    margin-right: calc(var(--indent-size) - 9px - 2px);
}
