.highlight-variable {
    color: rgb(211, 1, 1) !important;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--chakra-colors-color-palette-subtle);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--chakra-colors-color-palette-solid);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: var(--chakra-colors-color-palette-emphasized);
}

::-webkit-scrollbar-corner {
    background: transparent;
}
